@model IEnumerable<Web.ViewModels.Post.PostViewModel>

<div class="home-index">
    <div class="row">
        @if(Model == null || Model.Count() == 0)
        {
            <div class="col">
                <h3>No recent posts.</h3>
            </div>
        }
        else 
        {
            foreach(var post in Model)
            {
                <div class="col-12">
                    <div class="post">
                        <a asp-controller="Post" asp-action="Detail" asp-route-id="@post.Id" class="title"><h3>@post.Title</h3></a>
                        <p class="date">@post.RowCreatedDateTime.ToString("MMM dd, yyyy HH:mm:ss")</p>
                        <span class="content flex-grow-1">
                            @Html.Raw(post.Content)
                        </span>
                        <a asp-controller="Post" asp-action="Detail" asp-route-id="@post.Id" class="btn btn-read-more">Read more...</a>
                    </div>
                </div>
            }
        }
    </div>
</div>