@model Web.ViewModels.Comment.CommentViewModel;

<div class="comment">
    <h4>@Model.Author</h4>
    <p>@Model.RowCreatedDateTime.ToString("MMM dd, yyyy HH:mm:ss")</p>
    <span>@Html.Raw(Model.Content)</span>
    <div class="replies-list">
        @*@if(Model.Replies != null && Model.Replies.Count() != 0){
            for(int i = 0; i < 5; i++)
            {
                <div class="reply">
                    <p>Reply author @i</p>
                    <p>Reply content @i</p>
                </div>
            }
        }*@
        @for(int i = 0; i < 5; i++)
        {
            <div class="reply">
                <p>Reply author @i</p>
                <p>Reply content @i</p>
            </div>
        }
    </div>
    <button class="btn btn-comment-reply">Reply</button>
</div>