@model Web.ViewModels.Admin.AdminViewModel

<div class="admin-index">
    <div class="recent-posts">
        <h2>Recent Posts</h2>
        <div class="row posts">
            @if(Model.Posts == null || Model.Posts.Count() == 0)
            {
                <div class="col">
                    <h3>No posts.</h3>
                </div>
            }
            else 
            {
                foreach(var post in Model.Posts)
                {
                    <div class="col-12 col-xl-4">
                        <div class="post">
                            <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="d-flex flex-column">
                                <h3 class="title">@post.Title</h3>
                                <p class="date">@post.RowCreatedDateTime.ToString("MMM dd, yyyy HH:mm:ss")</p>
                                <span class="content flex-grow-1">
                                    @Html.Raw(post.Content)
                                </span>
                                <span class="text-right read-more">Read more...</span>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="recent-comments">
        <h2>Recent Comments</h2>
        <div class="row">
            @if(Model.Comments == null || Model.Comments.Count() == 0)
            {
                <div class="col">
                    <h3>No recent comments.</h3>
                </div>
            }
            else
            {
                foreach(var comment in Model.Comments)
                {
                    <div class="comment col">
                        <h3>Post Title</h3>
                        <span>Author</span>
                        <span>@DateTime.Now</span>
                        <p class="content">Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsum</p>
                    </div>
                }
            }
        </div>
    </div>
</div>